.pagination-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  /* align-items: center; */
}

.pagination-row p {
  color: #555;
  font-size: 20px;
  /* padding: 0 3px; */
}

.pagiantion-arrow {
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}
